@charset "UTF-8";
/**
 * /video/
 *
 * @author      Viacheslav Glushko aka iXax <mail@ixax.ru>
 * @version     1.0.201205.17.1
 * @version     1.0.201204.09.1
 * @link        http://ixax.ru/portfolio/company/vgtrk/
----------------------------------------------------------------------------- */
/**
 * Конфигурация
------------------------------------------------------------------------------ */
/**
 * Устанавливаем кодировку
------------------------------------------------------------------------------ */
/**
 * Подключаем внешние mixins
------------------------------------------------------------------------------ */
/**
 * Main mixins
 *
 * 1.0.201202.11.1
 *    .size -> .box-size
 *
 * @author      Viacheslav Glushko aka iXax <flutter@ixax.ru>
 * @version     1.0.201202.11.1
 * @since		1.0.201202.01.1
 * @link        http://ixax.ru/projects/less-stuff/
----------------------------------------------------------------------------- */
/**
 * Устанавливаем размер блока
----------------------------------------------------------------------------- */
/**
 * font-size/line-height
----------------------------------------------------------------------------- */
/**
 * Абсолютное позиционирование
----------------------------------------------------------------------------- */
/**
 * Multi-browser horizontal menu
----------------------------------------------------------------------------- */
/**
 * Vertical centered (необходимо задавать высоту элемента)
----------------------------------------------------------------------------- */
/**
 * DISPLAY: <block>, <inline-block>, <none>
----------------------------------------------------------------------------- */
/**
 * POSITION
----------------------------------------------------------------------------- */
/**
 * CSS3 mixins
 * 
 * History:
 * 		1.0.201202.01.1
 * 			Старт проекта
 * 		1.0.201202.09.1
 * 			Добавлена частичная поддержка CSS3Pie (http://css3pie.com): .gradient добавляем -pie- свойство;
 *
 * @author      Viacheslav Glushko aka iXax <flutter@ixax.ru>
 * @version     1.0.201204.11.1
 * @since		1.0.201202.01.1
 * @link        http://ixax.ru/projects/less-stuff/
----------------------------------------------------------------------------- */
/* PRIVATE background-clip */
/**
 * GRADIENTS
----------------------------------------------------------------------------- */
/**
 * border-radius
----------------------------------------------------------------------------- */
/**
 * box-shadow
----------------------------------------------------------------------------- */
/*

.transition-duration(@duration: 0.2s) {
  -moz-transition-duration: @duration;
  -webkit-transition-duration: @duration;
  transition-duration: @duration;
}



.scale(@ratio:1.5){
  -webkit-transform:scale(@ratio);
  -moz-transform:scale(@ratio);
  transform:scale(@ratio);
}

.transition(@duration:0.2s, @ease:ease-out) {
  -webkit-transition: all @duration @ease;
  -moz-transition: all @duration @ease;
  transition: all @duration @ease;
}

.columns(@colwidth: 250px, @colcount: 0, @colgap: 50px, @columnRuleColor: #EEE, @columnRuleStyle: solid, @columnRuleWidth: 1px) {
  -moz-column-width: @colwidth;
  -moz-column-count: @colcount;
  -moz-column-gap: @colgap;
  -moz-column-rule-color: @columnRuleColor;
  -moz-column-rule-style: @columnRuleStyle;
  -moz-column-rule-width: @columnRuleWidth;
  -webkit-column-width: @colwidth;
  -webkit-column-count: @colcount;
  -webkit-column-gap: @colgap;
  -webkit-column-rule-color: @columnRuleColor;
  -webkit-column-rule-style: @columnRuleStyle;
  -webkit-column-rule-width: @columnRuleWidth;
  column-width: @colwidth;
  column-count: @colcount;
  column-gap: @colgap;
  column-rule-color: @columnRuleColor;
  column-rule-style: @columnRuleStyle;
  column-rule-width: @columnRuleWidth;
}

.translate(@x:0, @y:0) {
  -moz-transform: translate(@x, @y);
  -webkit-transform: translate(@x, @y);
  -o-transform: translate(@x, @y);
  -ms-transform: translate(@x, @y);
  transform: translate(@x, @y);
}
*/
/**
 * Подключаем mixins/variables проекта
------------------------------------------------------------------------------ */
/**
 * Переменные проекта
 *
 * @author      Viacheslav Glushko aka iXax <mail@ixax.ru>
 * @version     1.0.201205.12.1
 * @since     	1.0.201202.01.1
 * @link        http://ixax.ru/portfolio/company/vgtrk/
----------------------------------------------------------------------------- */
/**
 * Box sizes
----------------------------------------------------------------------------- */
/**
 * Цвета текста
----------------------------------------------------------------------------- */
/* Цвет фона у активных элементов */
/**
 * Цвета в градиентных блоках и кнопках
----------------------------------------------------------------------------- */
/* #ddd */
/**
 * Цвета фона и рамок у блоков
----------------------------------------------------------------------------- */
/**
 * Иконки
------------------------------------------------------------------------------ */
/**
 * BODY Theming
----------------------------------------------------------------------------- */
/*@theme-light-bg:    #ededed;*/
/**
 * Presets mixins
 * 
 *
 * @author      Viacheslav Glushko aka iXax <mail@ixax.ru>
 * @version     1.0.201205.12.1
 * @since     	1.0.201202.01.1
 * @link        http://ixax.ru/portfolio/company/vgtrk/
----------------------------------------------------------------------------- */
/**
 * Font
----------------------------------------------------------------------------- */
/**
 * Градиенты
----------------------------------------------------------------------------- */
/**
 * Background  с точечками
------------------------------------------------------------------------------ */
/**
 * Background с диагональным полосками
------------------------------------------------------------------------------ */
/**
 * Подложка под блоками
------------------------------------------------------------------------------ */
/**
 * Вогнутая кнопка с тенюшками
------------------------------------------------------------------------------ */
/**
 * Иконка поверх превьюшки видео <a>
----------------------------------------------------------------------------- */
/**
 * PICTURE LINK
------------------------------------------------------------------------------ */
/**
 * Фотка в персонах и галереях
------------------------------------------------------------------------------ */
/**
 * Малые иконки просмотров / фотографий / комментариев / подробнее
------------------------------------------------------------------------------ */
/**
 * “Правильный” text-shadow
------------------------------------------------------------------------------ */
/**
 * Стиль текста в статьях
------------------------------------------------------------------------------ */
/**
 * Close button
------------------------------------------------------------------------------ */
ul.page-brand-article-list li.item {
  overflow: hidden;
  margin-bottom: 25px;
}
ul.page-brand-article-list li.item a.title {
  display: block;
  padding: 5px 12px;
  margin-bottom: 10px;
  font: normal 16px Calibri, Tahoma;
  line-height: 19px;
}
ul.page-brand-article-list li.item a.pic {
  display: block;
  width: 250px;
  float: left;
  vertical-align: top;
}
ul.page-brand-article-list li.item a.pic img {
  width: 100%;
}
ul.page-brand-article-list li.item div.info {
  margin-left: 270px;
  vertical-align: top;
}
ul.page-brand-article-list li.item div.info p.date {
  margin-bottom: 15px;
}
ul.page-brand-article-list li.item div.info div.panel {
  height: 13px;
  padding: 8px;
  margin-top: 15px;
  border-width: 1px;
  border-style: solid;
  border-left: 0;
  border-right: 0;
}
ul.page-brand-article-list li.item div.info div.panel span.photos {
  float: left;
  font-size: 11px;
  opacity: 0.5;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  filter: "alpha(opacity=50)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
ul.page-brand-article-list li.item div.info div.panel span.btn-views_left {
  float: left;
  font-size: 11px;
}
ul.page-brand-article-list li.item div.info div.panel a.btn-more {
  float: right;
  margin-top: 0;
}
body.theme_light ul.page-brand-article-list li.item a.title {
  background-image: url('/i/el/dotted_bg-light.png');
  background-repeat: repeat;
  background-position: 0 0;
}
body.theme_dark ul.page-brand-article-list li.item a.title {
  background-image: url('/i/el/dotted_bg-dark.png');
  background-repeat: repeat;
  background-position: 0 0;
}
div.page-brand-article-item {
  background-color: #fff;
}
div.page-brand-article-item div.pics {
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-bottom: 30px;
}
div.page-brand-article-item div.pics div.viewport {
  overflow: hidden;
}
div.page-brand-article-item div.pics div.viewport ul.items {
  width: 672px;
  overflow: hidden;
}
div.page-brand-article-item div.pics div.viewport ul.items li.item {
  width: 672px;
  float: left;
}
div.page-brand-article-item div.pics div.viewport ul.items li.item a.pic {
  display: block;
  width: 100%;
  position: relative;
}
div.page-brand-article-item div.pics div.viewport ul.items li.item a.pic img {
  width: 100%;
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
div.page-brand-article-item div.pics div.viewport ul.items li.item a.pic span.fullscreen {
  width: 43px;
  height: 43px;
  display: block;
  background: transparent url("/i/el/fullscreen-sprite.png") 0 0 no-repeat;
  position: absolute;
  right: 16px;
  bottom: 10px;
}
div.page-brand-article-item div.pics div.viewport ul.items li.item a.pic:hover span.fullscreen {
  background-position: 0 -44px;
}
div.page-brand-article-item div.pics div.panel {
  height: 35px;
  padding: 0 40px;
  background-color: #b4b4b4;
  border-top: 1px solid #909090;
  border-bottom: 1px solid #fff;
}
div.page-brand-article-item div.pics div.panel div.paginator {
  float: left;
  height: 35px;
  margin-right: 20px;
}
div.page-brand-article-item div.pics div.panel div.paginator ul.dots {
  height: 35px;
}
div.page-brand-article-item div.pics div.panel div.paginator ul.dots li {
  height: 100%;
}
div.page-brand-article-item div.pics div.panel div.paginator ul.dots li a {
  margin-top: 12px;
}
div.page-brand-article-item div.pics div.panel div.title {
  display: none;
  float: left;
  padding-left: 1px;
  overflow: hidden;
  color: #545454;
  line-height: 35px;
  text-shadow: 1px 1px 0 #cecece;
}
div.page-brand-article-item div.inner_content {
  font-size: 14px;
  line-height: 19px;
  padding: 0 40px 10px;
}
div.page-brand-article-item div.inner_content p,
div.page-brand-article-item div.inner_content div {
  margin-bottom: 20px;
}
div.page-brand-article-item div.inner_content li {
  display: list-item;
  margin: 3px 0 3px 20px;
}
div.page-brand-article-item div.inner_content ol li {
  list-style-type: decimal;
}
div.page-brand-article-item div.inner_content ul li {
  list-style-type: square;
}
div.page-brand-article-item div.inner_content a {
  text-decoration: underline;
  font-weight: normal;
}
div.page-brand-article-item div.inner_content a:hover {
  text-decoration: none;
}
div.page-brand-article-item div.inner_content h2.theme {
  margin-bottom: 20px;
  color: #555 !important;
}
div.page-brand-article-item div.inner_content time.article-date {
  display: block;
  text-align: left;
  font-family: "RussiaRegular";
  font-size: 12px;
  line-height: 12px;
  margin: 0 0 10px;
}
div.page-brand-article-item div.inner_content b a {
  font-weight: bold;
}
